* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

body {
  background-color: #f5f5f5;
  color: #111827;
}

a {
  color: inherit;
  text-decoration: none;
}
